.container{
    display: flex;
}

.container div.child {
    margin-left:10px;
    margin-right:10px;
}


li {
    padding: 5px 5px;
    font-family: sans-serif;
}

li div {
    margin-bottom: 5px;
}

li div a {
    text-decoration: underline;
    cursor: pointer;
}
