<h2>Index works!</h2>

<div class="container">
    <!-- <div class="child">
        <app-interval></app-interval>
    </div>
    <div class="child">
        <app-pipe></app-pipe>
    </div> -->
    <div class="child">
        <app-error></app-error>
    </div>
    <!-- <div class="child">
        <app-http-request></app-http-request>
    </div>


    <div class="child">
        <app-channel-list></app-channel-list>
    </div>
    <div class="child">
        <app-video-list></app-video-list>
    </div>

    <div class="child">
        <app-search></app-search>
    </div> -->

</div>